<div class="sidebar-top">
    <img src="/assets/img/Logo.png" alt="" width="120px" class="mt-4">
</div>
<div class="sidebar-center">
    <ul class="list-unstyled">
        <li class="mt-3 py-1 px-2" id="summaryLink">
            <a href="/pages/index2.html" class="text-white"> 
                <div class="icons_link">
                    <img src="/assets/img/myicons/icon/summary.png" alt="">
                    <span class="ms-1 ps-3 text-light-text">Summary</span>
                </div>
            </a>
        </li>
        <li class="mt-3 py-1 px-2 dropdown-btn hi" onclick="clicked()" id="integratedCRMLink">
            <a href="javascript:void(0)" class="text-white" aria-expanded="false"> 
                <div class="icons_link">
                    <img src="/assets/img/myicons/icon/Analysis.png" alt="">
                    <span class="ms-1 ps-3 text-light-text">Integrated CRM</span>
                </div>
                <span class="pro-arrow-wrapper">
                    <span class="pro-arrow"></span>
                </span>
            </a>
        </li>
        <div class="dropdown-container text-center">
            <ul class="">
                <li class="ps-0" id="companyAccountsLink">
                    <a href="/pages/company-accounts.html" class="p-0 text-gradient">Company Accounts</a>
                </li>
                <!-- <li class="mt-3 ps-0 Active"> -->
                <li class="mt-3 ps-0" id="debtPortfolioLink">
                    <a href="/pages/debt-portfolio.html" class="p-0 text-gradient">Debt Portfolio</a>
                </li>
                <li class="mt-3 border-0 ps-0" id="debtMetricsLink">
                    <a href="/pages/debt-metrics.html" class="p-0 text-gradient">Debt Metrics & Stats</a>
                </li>
            </ul>
        </div>
        <li class="mt-3 py-1 px-2 dropdown-btn hi" onclick="clicked1()" id="dataCollectionLink">
            <a href="javascript:void(0)" class="text-white"> 
                <div class="icons_link">
                    <img src="/assets/img/myicons/icon/summary.png" alt="">
                    <span class="ms-1 ps-3 text-light-text">Data Collection</span>
                </div>
                <span class="pro-arrow-wrapper">
                    <span class="pro-arrow"></span>
                </span>
            </a>
        </li>
        <div class="dropdown-container text-center">
            <ul class="">
                <li class=" ps-0" id="agentsLink">
                    <a href="/pages/agents.html" class="p-0 text-gradient">Agents</a>
                </li>
                <li class="mt-3 ps-0" id="debtAssignmentLink">
                    <a href="/pages/debt-assigment.html" class="p-0 text-gradient">Debt Assignment</a>
                </li>
                <li class="mt-3 ps-0" id="timeManagmentLink">
                    <a href="#" class="p-0 text-gradient">Time Management</a>
                </li>
                <li class="mt-3 ps-0" id="collectionActivityLink">
                    <a href="#" class="p-0 text-gradient">Collection Activty</a>
                </li>
                <li class="mt-3 ps-0" id="callMetricsLink">
                    <a href="#" class="p-0 text-gradient">Call Metrics</a>
                </li>
                <li class="mt-3 ps-0 border-0" id="agentPerformanceLink">
                    <a href="#" class="p-0 text-gradient">Agent Performance</a>
                </li>
            </ul>
        </div>
        <li class="mt-3 py-1 px-2 dropdown-btn hi" onclick="clicked2()" id="callCenterLink">
            <a href="javascript:void(0)" class="text-white"> 
                <div class="icons_link">
                    <img src="/assets/img/myicons/icon/Call Center.png" alt="">
                    <span class="ms-1 ps-3 text-light-text">Call Center</span>
                </div>
                <span class="pro-arrow-wrapper">
                    <span class="pro-arrow"></span>
                </span>
            </a>
        </li>
        <div class="dropdown-container text-center">
            <ul class="">
                <li class=" ps-0" id="callLink">
                    <a href="/pages/call-center.html" class="p-0 text-gradient">Call Center</a>
                </li>
                <li class="mt-3 ps-0" id="callLogsLink">
                    <a href="/pages/call-logs.html" class="p-0 text-gradient">Call Logs</a>
                </li>
                <li class="mt-3 ps-0" id="agentTargetLink">
                    <a href="/pages/agent-target.html" class="p-0 text-gradient">Agent Target</a>
                </li>
                <li class="mt-3 ps-0 border-0" id="smsAndEmailLink">
                    <a href="/pages/debtor-marketing.html" class="p-0 text-gradient">Sms & Email</a>
                </li>
            </ul>
        </div>
        <li class="mt-3 py-1 px-2 dropdown-btn hi" onclick="clicked2()" id="AnalyticsLink">
            <a href="javascript:void(0)" class="text-white"> 
                <div class="icons_link">
                    <img src="/assets/img/myicons/icon/Analysis.png" alt="">
                    <span class="ms-1 ps-3 text-light-text">Analytics</span>
                </div>
                <span class="pro-arrow-wrapper">
                    <span class="pro-arrow"></span>
                </span>
            </a>
        </li>
        <div class="dropdown-container text-center">
            <ul class="">
                <li class=" ps-0" id="callLink">
                    <a href="/pages/call-metrics.html" class="p-0 text-gradient">Call Metrics</a>
                </li>
                <li class="mt-3 ps-0" id="callLogsLink">
                    <a href="/pages/debts-metrics.html" class="p-0 text-gradient">Debt Metrics</a>
                </li>
                <li class="mt-3 ps-0" id="agentTargetLink">
                    <a href="/pages/activity-logs.html" class="p-0 text-gradient">Activity Logs</a>
                </li>
                <li class="mt-3 ps-0 border-0" id="smsAndEmailLink">
                    <a href="/pages/agent-performance.html" class="p-0 text-gradient">Agent Performance</a>
                </li>
            </ul>
        </div>
        

        <li class="mt-3 py-1 px-2">
            <a href="javascript:void(0)" class="text-white"> 
                <div class="icons_link">
                    <img src="/assets/img/myicons/icon/summary.png" alt="">
                    <span class="ms-1 ps-3 text-light-text">Summary</span>
                </div>
            </a>
        </li>
        <li class="mt-3 py-1 px-2">
            <a href="javascript:void(0)" class="text-white"> 
                <div class="icons_link">
                    <img src="/assets/img/myicons/icon/summary.png" alt="">
                    <span class="ms-1 ps-3 text-light-text">Summary</span>
                </div>
            </a>
        </li>
    </ul>
</div>
<div class="sidebar-bottom">
    <div class="sidebar-bottom d-flex justify-content-center align-items-center">
        <div class="col">
            <button type="button" class="btn bg-white logout_btn p-1">
                <img src="/assets/img/johnheiraa.png" alt="">
                <span class="text-gradient fw-600">John Heiraa</span>
                <img src="/assets/img/logout.png" alt="" width="20px">
            </button>
        </div>
    </div>
</div>





<!-- ACTIVE NAV LINK INDICATOR -->
<script>
    // SHOW/HIDE DROPDOWN WHEN CLICKED ON THE DROPDOWN LINK HOLDER
    var dropdown = document.getElementsByClassName("dropdown-btn");
    var i;
    for (i = 0; i < dropdown.length; i++) {
        dropdown[i].addEventListener("click", function() {
            // console.log(dropdown[1]);
            var dropdownContent = this.nextElementSibling;
            if (dropdownContent.style.display === "block") {
                dropdownContent.style.display = "none";
                var btnn = document.getElementsByClassName('pro-arrow')[(0)].style= "transform: rotate(-45deg) !important;"
            } else {
                dropdownContent.style.display = "block";
                var btnn = document.getElementsByClassName('pro-arrow')[(0)].style= "transform: rotate(45deg) !important;"
                
            }
        });
    }


    
    // Toggle class active on the link when been clicked
    function clicked(){
        var element = document.getElementsByClassName("hi")[0];
        element.classList.toggle("active");
    }

    function clicked1(){
        var element = document.getElementsByClassName("hi")[1];
        element.classList.toggle("active");
    }

    function clicked2(){
        var element = document.getElementsByClassName("hi")[2];
        element.classList.toggle("active");
    }


    // Find current page you are on an give class active on the sidebar li
    const activePage = window.location.pathname;
    // alert(activePage);
    const navLinks = document.querySelectorAll('.sidebar-center ul li a');
    navLinks.forEach(link =>{
        // console.log(link.href, "link.href");
        if(link.href.includes(activePage)){
            // console.log(activePage);
            if(activePage.includes('index2')){
                $('#summaryLink').addClass('active')
            }

            // Integrated CRM Link
            if(activePage.includes('company-accounts')){ $('#integratedCRMLink').addClass('active') }
            if(activePage.includes('debt-portfolio')){ $('#integratedCRMLink').addClass('active') }
            if(activePage.includes('debt-metrics')){ $('#integratedCRMLink').addClass('active') }
            if(activePage.includes('view-debtors-list')){ $('#integratedCRMLink').addClass('active') }
            if(activePage.includes('edit-debtors-profile')){ $('#integratedCRMLink').addClass('active') }
            if(activePage.includes('recovered-debt')){ $('#integratedCRMLink').addClass('active') }
            if(activePage.includes('pending-debt')){ $('#integratedCRMLink').addClass('active') }
            if(activePage.includes('bad-debt')){ $('#integratedCRMLink').addClass('active') }
            // Integrated CRM Link

            // Data Collection
            if(activePage.includes('agents')){ $('#dataCollectionLink').addClass('active') }
            if(activePage.includes('add-agent')){ $('#dataCollectionLink').addClass('active') }
            if(activePage.includes('agent-profile')){ $('#dataCollectionLink').addClass('active') }
            if(activePage.includes('debt-assigment')){ $('#dataCollectionLink').addClass('active') }
            if(activePage.includes('auto-insurance')){ $('#dataCollectionLink').addClass('active') }
            // Data Collection

            //Call Center
            if(activePage.includes('call-center')){ $('#callCenterLink').addClass('active') }
            if(activePage.includes('call-logs')){ $('#callCenterLink').addClass('active') }
            if(activePage.includes('caller-profile')){ $('#callCenterLink').addClass('active') }
            if(activePage.includes('agent-target')){ $('#callCenterLink').addClass('active') }
            if(activePage.includes('agent-assign-list')){ $('#callCenterLink').addClass('active') }
            if(activePage.includes('debtor-marketing')){ $('#callCenterLink').addClass('active') }
            if(activePage.includes('sms-marketing')){ $('#callCenterLink').addClass('active') }
            if(activePage.includes('email-marketing')){ $('#callCenterLink').addClass('active') }
            if(activePage.includes('sms-templates')){ $('#callCenterLink').addClass('active') }
            if(activePage.includes('email-template')){ $('#callCenterLink').addClass('active') }
            if(activePage.includes('customs-sms')){ $('#callCenterLink').addClass('active') }
            if(activePage.includes('customs-email')){ $('#callCenterLink').addClass('active') }
            //Call Center
        }
    })


    
    const subnavLinks = document.querySelectorAll('.dropdown-container ul li a');
    subnavLinks.forEach(link =>{
        // console.log(link.href, "link.href");
        if(link.href.includes(activePage)){
            // console.log(activePage);
            // INTEGRATED CRM
            if(activePage.includes('company-accounts')){ $('#companyAccountsLink').addClass('Active') }
            if(activePage.includes('debt-portfolio')){ $('#debtPortfolioLink').addClass('Active') }
            if(activePage.includes('view-debtors-list')){ $('#debtPortfolioLink').addClass('Active') }
            if(activePage.includes('edit-debtors-profile')){ $('#debtPortfolioLink').addClass('Active') }
            if(activePage.includes('debt-metrics')){ $('#debtMetricsLink').addClass('Active') }
            if(activePage.includes('recovered-debt')){ $('#debtMetricsLink').addClass('Active') }
            if(activePage.includes('pending-debt')){ $('#debtMetricsLink').addClass('Active') }
            if(activePage.includes('bad-debt')){ $('#debtMetricsLink').addClass('Active') }
            // INTEGRATED CRM


            // DATA COLLECTION
            if(activePage.includes('agents')){ $('#agentsLink').addClass('Active') }
            if(activePage.includes('add-agent')){ $('#agentsLink').addClass('Active') }
            if(activePage.includes('agent-profile')){ $('#agentsLink').addClass('Active') }
            if(activePage.includes('debt-assigment')){ $('#debtAssignmentLink').addClass('Active') }
            if(activePage.includes('auto-insurance')){ $('#debtAssignmentLink').addClass('Active') }
            // DATA COLLECTION  

            // CALL CENTER
            if(activePage.includes('call-center')){ $('#callLink').addClass('Active') }
            if(activePage.includes('call-logs')){ $('#callLogsLink').addClass('Active') }
            if(activePage.includes('caller-profile')){ $('#callLogsLink').addClass('Active') }
            if(activePage.includes('agent-target')){ $('#agentTargetLink').addClass('Active') }
            if(activePage.includes('agent-assign-list')){ $('#agentTargetLink').addClass('Active') }
            if(activePage.includes('debtor-marketing')){ $('#smsAndEmailLink').addClass('Active') }
            if(activePage.includes('sms-marketing')){ $('#smsAndEmailLink').addClass('Active') }
            if(activePage.includes('email-marketing')){ $('#smsAndEmailLink').addClass('Active') }
            if(activePage.includes('sms-templates')){ $('#smsAndEmailLink').addClass('Active') }
            if(activePage.includes('email-template')){ $('#smsAndEmailLink').addClass('Active') }
            if(activePage.includes('customs-sms')){ $('#smsAndEmailLink').addClass('Active') }
            if(activePage.includes('customs-email')){ $('#smsAndEmailLink').addClass('Active') }
            // CALL CENTER 
        }
    })
</script>
<!-- ACTIVE NAV LINK INDICATOR -->