:root{
  --bs-gradient: linear-gradient(89.83deg, #4E2CBE 0.15%, #A36BE2 99.04%);
  --bs-purple-text-color: hsl(254, 61%, 47%);
  --bs-light-text-color: #9197B3;
  --bs-dark-text-color: #292d32;
  --bs-button: #8756D6;
  --bs-buttons: #bbb6c4;
  --bs-button-border: #B6ABED;
  --bs-active-button: #16c09861;
  --bs-active-button-border: #00b087;
  --bs-active-button-text: #008767;
  --bs-inactive-button: #ffc5c5;
  --bs-inactive-button-border: #df0404;
  --bs-inactive-button-text: #df0404;
  --bs-sidebar-li-active: linear-gradient(89.83deg, rgba(78, 44, 190, 0.18) 0.15%, rgba(163, 107, 226, 0.18) 99.04%);
  --bs-unassigned-button: #FF0000;
  --bs-unassigned-button-border: #ffc1c1ca;
  --bs-shadow: 0px 0px 20px rgba(172, 197, 229, 0.5);
  --bs-pageboxshadow: 0px 10px 60px rgba(226, 236, 249, 0.5);
  --bs-pageboxradius: 30px;
}

a{
  text-decoration: none;
}
.fw-600{
  font-weight: 600;
}

/* Text */
.text-gradient{
  color: var(--bs-purple-text-color);
}
.text-light-text{
  color: var(--bs-light-text-color);
}

/* Shadow */
.box-shadow{
  box-shadow: var(--bs-shadow);
}

/* Border */
.border-purple{
  border-color: 2px solid #4E2CBE;
}
.border-gradient{
  border-right: 3px dashed #4E2CBE;
  border-bottom: 3px dashed #7d66c9;
  border-left: 3px dashed #b579f9;
  border-radius: 0px 0px 10px 10px;
}

/* Backgrounds */
.bg-gradient{
  background-color: var(--bs-gradient);
}
.bg-active-li{
  background: var(--bs-sidebar-li-active);
  color: var(--bs-purple-text-color);
}

/* Buttons */
/*  */
.butt{
  background: var(--bs-button);
  border: 3px solid var(--bs-button-border);
  border-radius: 8px;
  padding: 7px 25px;
  color: #fff;
  font-size: 12px;
}
.butt-green{
  background: var(--bs-active-button);
  border: 3px solid var(--bs-active-button-border);
  border-radius: 8px;
  padding: 7px 25px;
  color: #008767;
}
.butt-green:hover{
  color: #008767;
}
.butt-red{
  background: var(--bs-unassigned-button);
  border: 3px solid var(--bs-unassigned-button-border);
  border-radius: 8px;
  padding: 7px 25px;
  color: #fff;
}
.butt-red-2{
  background: var(--bs-inactive-button);
  border: 3px solid var(--bs-inactive-button-border);
  border-radius: 8px;
  padding: 7px 25px;
  color: #df0404;
}
.butt-red-2:hover{
  color: #df0404;
}

.butt-b{
  background: var(--bs-button);
  border: 3px solid var(--bs-button-border);
  border-radius: 8px;
  padding: 7px 25px;
  color: #fff;
  font-size: 12px;
  width: 200px;
}
.butt-a{
  background: var(--bs-buttons);
  border: 3px solid var(--bs-button-border);
  border-radius: 8px;
  padding: 7px 25px;
  color: #fff;
  font-size: 12px;
  width: 200px;
}

/* Toggle switch */
.switch {
  position: relative;
  display: inline-block;
  width: 54px;
  height: 28px;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  padding: 10px;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background: var(--bs-gradient);
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

/*       Authentication pages */

/* Sign up */
/* Form part */
#authentication-content-wrapper {
  /* min-width: auto; */
  height: 100vh;
  width: calc(100% - 50%);
  position: absolute;
  top: 0;
  left: 50%;
  right: 0px;
}
.hr:after {
  content: 'Or';
  color: #000;
  display: block;
  text-align: center;
  background-color: #fff;
  width: 60px;
  margin-top: -10px;
  position: absolute;
  left: 50%;
  -webkit-transform: translate(-50%);
  -moz-transform: translate(-50%);
  -ms-transform: translate(-50%);
  -o-transform: translate(-50%);
  transform: translate(-50%);
}
.form-check-input:checked{
  background-color: #4E2CBE;
  border: 1px solid #4E2CBE;
}

/* Logo part */
#logo-wrapper {
  width: 50%;
  min-height: 100vh;
  -webkit-transition: margin 0.25s ease-out;
  -moz-transition: margin 0.25s ease-out;
  -o-transition: margin 0.25s ease-out;
  transition: margin 0.25s ease-out;
  position: fixed;
  overflow-y: auto;
  background: rgb(83,42,198);
  background: linear-gradient(184deg, rgba(83,42,198,1) 0%, rgba(138,76,190,1) 100%);
}
.logo-holder {
  height: 350px;
  background: rgb(83,42,198);
  background: linear-gradient(284deg, rgba(83,42,198,1) 0%, rgba(138,76,190,1) 100%);
  border-bottom-right-radius: 300px;
  border-bottom-left-radius: 250px;
  border-top-right-radius: 200px;
  border-top-left-radius: 200px;
}
/* End of Sign up */

/*      End of Authentication pages */


/* Content */
#wrapper {
  /* overflow-x: hidden; */
}

/* Page wrapper */
#page-content-wrapper {
  /* min-width: auto; */
  width: calc(100% - 221px);
  position: absolute;
  top: 0;
  left: 221px;
  right: 0px;
}

/* Sidebar */
#sidebar-wrapper {
  width: 221px;
  min-height: 100vh;
  -webkit-transition: margin 0.25s ease-out;
  -moz-transition: margin 0.25s ease-out;
  -o-transition: margin 0.25s ease-out;
  transition: margin 0.25s ease-out;
  position: fixed;
  overflow-y: auto;
}
.sidebar{
  width: 100%;
  min-height: 100vh;
}
.sidebar-top{
  /* position: fixed;
  left: 0%;
  right: 0%;
  top: 0%; */
  background-image: url("../img/sidebar-top.png");
  background-repeat: no-repeat;
  /* background-size: cover; */
  height: 104px;
  width: 100%;
}
.sidebar-top img{
  filter: brightness(1000);
}
.sidebar-center{
  width: 100%;
  height: calc(100vh - 250px);
  overflow-y: auto;
  overflow-x: hidden;
  z-index: 1;
  /* text-align: left; */
}
.sidebar-center ul{
  width: 194px;
  margin: 0px auto;
  padding: 0px;
}
.sidebar-center ul li {
  width: 100%;
  
  border-radius: 8px;
  /* background: red; */
  display: flex;
  justify-content: flex-start;
  position: relative;
}
.sidebar-center ul li a {
  font-size: 12px;
  max-height: 45px;
  padding: 11px 5px;
  width: 100%;
  text-align: left;
}
.nav-link{
  padding: 0px !important;
  text-align: left;
}


/* sidebar rotate arrow */
.pro-arrow-wrapper {
  position: absolute;
  right: 13px;
  top: 50%;
  transform: translateY(-50%);
}
.pro-arrow-wrapper .pro-arrow {
  display: inline-block;
  border-style: solid;
  color: rgb(193, 193, 193);
  border-width: 0px 2px 2px 0px;
  padding: 2.5px;
  vertical-align: middle;
  transition: transform 0.3s ease 0s;
  transform: rotate(-45deg);
}

.sidebar-center::-webkit-scrollbar{
	width:3px;
	border-radius:10px;
	background-color: var(--bs-button-border);
	display:none;
}
.sidebar-center::-webkit-scrollbar-thumbs{
	width:3px;
	border-radius:10px;
	background-color:#000;
	display:none;
}
.sidebar-bottom{
  position: fixed;
  width: 221px;
  height: 140px;
  left: 0px;
  bottom: 0px;
  background-image: url("../img/sidebar-bottom.png");
  background-repeat: no-repeat;
}
.logout_btn{
  position: absolute;
  bottom: 13px;
  left: 0px;
  right: 0px;
  width: 168px;
  height: 45px;
  margin: auto;
  background: #FFFFFF;
  border-radius: 37px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 12px;
}
.logout_btn img:nth-child(1){
  width: 37px;
  height: 37px;
}
.logout_btn img:nth-child(2){
  width: 15px;
  height: 15px;
}
.active {
  background: var(--bs-gradient);
}
.sidebar-center ul li.active a img{
  filter: brightness(1000);
}
.sidebar-center ul li.active a span{
  color: white;
  font-weight: bold;
}
.sidebar-center ul li.active .btnn::after{
  content: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='10' height='' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='white' stroke-linecap='round' stroke-linejoin='round' stroke-width='3' d='M5 14l6-6-6-6'/%3e%3c/svg%3e");
}
.sidebar-center ul li:hover{
  background-color: #d4c8fd;
}


/* Dropdown */
.dropdown-container {
  display: none;
  border-radius: 0px 0px 8px 8px;
  border-right: 2px dashed #4E2CBE;
  border-bottom: 2px dashed #5f36e7;
  border-left: 2px dashed #A36BE2;
  padding: 12px 15px 9px;
}
.dropdown-container ul{
  margin: 0px;
  padding: 0px;
  width: 100%;
}
.dropdown-container ul li{
  border-bottom: 1px solid rgb(201, 189, 189);
  padding: 5px 0px;
}
.dropdown-container ul li a{
  font-size: 12px;
  min-height: 18px;
  font-weight: 500;
  line-height: 18px;
  text-align: center;
}
.dropdown-container ul li.Active{
  background: linear-gradient(89.83deg, rgba(78, 44, 190, 0.18) 0.15%, rgba(163, 107, 226, 0.18) 99.04%);
  border-radius: 6px;
}
.dropdown-container ul li:hover{
  background-color: #d4c8fd;
}


/* ------------------------------ PAGE CONTENT ------------------------------ */
.page-box-content{
  background: #FFFFFF;
  /* box-shadow: var(--bs-pageboxshadow); */
  border-radius: var(--bs-pageboxradius);
}
.page-title{
  font-weight: 600;
  font-size: 22px;
  line-height: 33px;
}
.header-form-input{
  background: #F9FBFF;
  border-radius: 10px;
  width: 220.55px;
  height: 38px;
  padding: 0px 10px;
}
.search-input-holder input{
  border: 0px;
  outline: none;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
}
.select-input-holder select{
  border: 0px;
  outline: none;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
}
.select-input-holder .sortby{
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  color: #7E7E7E;
}
.cards{
  background: #FAFBFF;
  border-radius: 18px;
  border: 1px solid #4E2CBE !important;
}
.cards-title{
  color: rgba(0, 0, 0, 0.63);
  font-weight: 600;
  font-size: 18px;
  line-height: 21px;
}
.cards-subtitle{
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: rgba(0, 0, 0, 0.63);
}
.cards-body .cards-link{
  padding: 5px 16px;
  background: #8756D6;
  border: 3px solid #B6ABED;
  border-radius: 4px;
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  color: #FFFFFF;
}

/* Table */
table thead tr th{
  font-size: 13px;
}
table tbody tr td{
  font-size: 13px;
}



/* Dialer Modal */
/* --------------------------- CALL CENTER DIALER --------------------------- */
#dialer_input_td{
  border-radius:18px;
  border: 2px solid rgba(60, 0, 255, 0.36);
}
#dialer_input_td input {
  width: 100%;
  border: none;
  font-size: 1em;
  outline: none;
  padding-right: 5px;
}

/* Remove arrows from type number input : Chrome, Safari, Edge, Opera */
#dialer_input_td input::-webkit-outer-spin-button,
#dialer_input_td input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Remove arrows from type number input : Firefox */
#dialer_input_td input[type=number] {
  -moz-appearance: textfield;
}
/* --------------------------- CALL CENTER DIALER --------------------------- */

/* Range slider */
.irs {
  position: relative; display: block; color: white;
}
.irs-line {
  position: relative; display: block;
  overflow: hidden;
  outline: none !important;
}
.irs-bar {
  position: absolute; display: block;
  left: 0; width: 0;
}
.irs-slider {
  position: absolute; display: block;
  cursor: default;
  z-index: 1;
}
.irs-line {
  height: 10px; top: 34px;
  background: #EEE;
  background: #E1DBF4;
  border: 1px solid #CCC;
  border-radius: 16px;
  -moz-border-radius: 16px;
}
.irs-bar {
  height: 10px; top: 33px;
  border-top: 1px solid #4E2CBE;
  border-bottom: 1px solid #4E2CBE;
  background: #4E2CBE;
  background: linear-gradient(156.24deg, #4E2CBE 0.55%, #A16AE1 99.17%);
}
.irs-slider {
  top: 25px;
  width: 27px; height: 27px;
  border: 2px solid #4E2CBE;
  background: #fff;
  border-radius: 27px;
  -moz-border-radius: 27px;
  box-shadow: 1px 1px 3px rgba(0,0,0,0.3);
  cursor: pointer;
}
/* End of range slider */
/* ------------------------------ PAGE CONTENT ------------------------------ */